<main role="main" class="main">
  <h2 class="main__heading">{{ page.title }}</h2>

  <section class="articles">
    <ol>
      {% for article in site.articles reversed %}
      <li>
        <div>
          Posted: {{ article.date | date: "%d %b, %Y" }}
        </div>
        <div>
          <a href="{{ article.url }}">{{ article.title }}</a>
        </div>
      </li>
      {% endfor %}
    </ol>
    <p>If you have an article you would like to include, please submit a pull request through <a href="{{ site.github.repository_url }}/tree/master/_articles" class="link-highlight">GitHub</a>.</p>
  </section>

</main><!-- END .main -->
