<footer role="contentinfo">
  <div class="constrain">
    <ul class="list--unstyled">
      <li>
        <a href="{{ site.github.repository_url }}" class="link-highlight"><i class="icon-edit"></i> Edit on GitHub</a>
      </li>
      <li>
        <a href="{{ site.github.repository_url }}/graphs/contributors" class="link-highlight"><i class="icon-contributors"></i>  Contributors</a>
      </li>
    </ul>
    <small class="footer__text align-center">
      &copy; 2014 Curated by <a href="http://garethredfern.com" class="link-highlight">Gareth Redfern</a>
    </small>
  </div><!-- END .constrain -->
</footer>
