<footer role="contentinfo">
  <div class="constrain">
    <ul>
      <li>
        <a href="{{ site.github.repository_url }}" class="link-highlight">Edit on GitHub</a>
      </li>
      <li>
        <a href="{{ site.github.repository_url }}/graphs/contributors" class="link-highlight">Contributors</a>
      </li>
    </ul>
    <small class="footer__text align-center">
      &copy; 2014 Curated by <a href="http://garethredfern.com" class="link-highlight">Gareth Redfern</a>
    </small>
  </div><!-- END .constrain -->
</footer>
