<main role="main" class="main">
  <h2 class="main__heading"><i class="icon-news"></i> Latest News</h2>
  <div class="lead">
    <p>Statamic Themes has moved over to <a href="https://github.com/statamicthemes/statamicthemes.github.io" class="link-highlight">GitHub pages</a> to enable anyone to submit a post. Please feel free to join in and contribute with any articles, code snippets, themes, and plugins.</p>
    <p>If you have any questions please feel free to get in touch via <a href="https://twitter.com/statamic_themes" class="link-highlight">twitter</a> or <a href="https://github.com/statamicthemes/statamicthemes.github.io/issues" class="link-highlight">GitHub issues</a>.</p>
  </div><!-- END .lead -->
  <section class="articles">
    <ol>
      {% for article in site.articles reversed limit:10 %}
      <li>
        <a href="{{ article.url }}">
          <div>Posted: {{ article.date | date: "%d %b, %Y" }}</div>
          <div>{{ article.title }}</div>
        </a>
      </li>
      {% endfor %}
    </ol>
    <p class="text--center"><a href="{{ site.url }}/articles" class="link-highlight">Read More aticles <i class="icon-arrow-right"></i></a></p>
    <p class="text--center">If you have an article you would like to include, please submit a pull request through <a href="{{ site.github.repository_url }}/tree/master/_articles" class="link-highlight"><i class="icon-github"></i> GitHub</a>.</p>
  </section>

</main><!-- END .main -->
