{% assign navurl = page.url | remove: 'index.html' %}

<nav role="navigation" class="nav--primary">
  <div class="constrain">
    <a id="menu" class="nav--primary__btn">Menu</a>
    <ul id="js-nav--primary__list" class="nav--primary__list">
      {% for item in include.nav %}
        <li class="nav__listItem">
          <a href="{{ item.url }}" class="nav__link{% if navurl contains item.url %} current{% endif %}">{{ item.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </div><!-- END .constrain -->
</nav>
