<main role="main" class="main">
  <h2 class="main__heading"><i class="icon-plugins"></i> {{ page.title }}</h2>

  <section class="articles">
    <ol class="articles__list">
      {% for plugin in site.plugins reversed %}
      <li>
        <a href="{{ plugin.url }}">{% endif %}{{ plugin.title }} {% if plugin.commercial == "yes" %}<i class="icon-money"></i></a>
      </li>
      {% endfor %}
    </ol>
    <p>If you have a plugin you would like to include, please submit a pull request through <a href="{{ site.github.repository_url }}/tree/master/_plugins" class="link-highlight"><i class="icon-github"></i> GitHub</a>.</p>
  </section>

</main><!-- END .main -->
