<main role="main" class="main">
  <h2 class="main__heading"><i class="icon-themes"></i>  {{ page.title }}</h2>

  <section class="articles">
    <ol class="articles__list">
      {% for theme in site.themes reversed %}
      <li>
        <a href="{{ theme.url }}">{{ theme.title }}</a>
      </li>
      {% endfor %}
    </ol>
    <p>If you have a theme you would like to include, please submit a pull request through <a href="{{ site.github.repository_url }}/tree/master/_themes" class="link-highlight"><i class="icon-github"></i> GitHub</a>.</p>
  </section>

</main><!-- END .main -->
