// =====================================
// BASE RULES
// =====================================

// A Base rule is applied to an element using an element selector, a descendent selector,
// or a child selector, along with any pseudo-classes.
// It doesn't include any class or ID selectors.
// It is defining the default styling for how that element should look in all occurrences on the page.

// DROP THE BASE ===============================================================

* { -webkit-font-smoothing: antialiased; }

html  {
  font-size: 100%;
  background-color: $lighterGrey;
}
body {
  line-height: 1.5;
  color: $cs-font;
  font-size: em(14);
  font-style: normal;
  font-family: $font-sans;
  background-color: $cs-bodyBg;
  font-weight: $mainFontWeight;
}
h1 { font-size: em(42); margin-top: 0; margin-bottom: 0; }
h2 { font-size: em(36); margin-top: 0.2em; margin-bottom: 0; }
h3 { font-size: em(24); margin-top: 0.2em; margin-bottom: 0; }
h4 { font-size: em(16); margin-top: 0.2em; margin-bottom: 0; }
h5 { font-size: em(16); margin-top: 0.2em; margin-bottom: 0; }
h6 { font-size: em(16); margin-top: 0.2em; margin-bottom: 0; }

h1,h2,h3,h4,h5,h6 {
  color: $cs-heading;
  font-style: normal;
  font-family: $font-sans-heading;
  font-weight: $headingFontWeight;
  a:link, a:visited { color: $cs-heading; text-decoration: none; }
  a:hover, a:active, a:focus { color: $cs-heading; text-decoration: none; }
}

h4,h5,h6 { margin-bottom: 0; }
h1+ p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p { margin-top: 0; }
a {
  color: $cs-font;
  text-decoration: none;
  a:link, &:visited { color: $cs-font; }
  &:hover, &:active, &:focus { color: $cs-font; text-decoration: none; }
}
strong, b, .callout {
  font-style: normal;
  font-weight: $boldFontWeight;
}
em, i {
  font-style: italic;
  font-weight: $mainFontWeight;
}
code { background-color: $lighterGrey; }
pre {
  overflow: auto;
  padding: 0.5em;
  white-space: pre;
  word-wrap: normal;
  border-radius: 0.3em;
  background-color: $black;
  code {
    color: $white;
    background-color: transparent;
  }
}

img { width: 100%; max-width: 100%; height: auto; vertical-align: bottom; }
blockquote {
  margin-left: 0;
  font-weight: 300;
  font-size: 1em;
  color: $cs-font;
  font-style: italic;
}
ol,ul { padding-left: 1.3em; }
dt { font-weight: bold; }
dd { margin-bottom: 1em; }
iframe, object { max-width: 100%; }
figure { margin: 0; }

button { outline: none; }
textarea { min-height: 10em; }
mark {
  color: $black;
  background-color: rgb(255, 255, 0);
}
