// =====================================
// SITE FORM MODULES
// =====================================

// A Module is a more discrete component of the page.
// It is your navigation bars and your carousels and your dialogues and your widgets and so on.
// This is the meat of the page.
// Modules sit inside Layout components.
// Modules can sometimes sit within other Modules, too.
// Each Module should be designed to exist as a standalone component.

form {
  width: 100%;
  padding: 2em;
  overflow: hidden;
  margin-bottom: 1em;
  border-radius: 0.2em;
  -webkit-appearance: none;
  background-color: $formBg;
  border: 0.1em solid $formBorderColor;
  input[type], textarea { color: $cs-font; }
  div { margin-bottom: 1em; }
}
label { cursor: pointer; display: inline-block; }
fieldset {
  padding-top: 1em;
  margin-bottom: 2em;
  border-radius: 0.2em;
  border-color: $formBorderColor;
  background-color: $lighterGrey;
}

input[type="tel"],
input[type="text"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="password"],
textarea {
  width: 100%;
  padding: 0.5em;
  border: 1px solid $formBorderColor;
}
.help-block { margin-top: 0.5em; margin-bottom: 0.5em; }
input[type="search"] { box-sizing: border-box; }

// RADIOS & CHECKBOXES
// =============================================================================

input[type="checkbox"] { width: auto; }

.radio, .checkbox { position: relative; }

.radio label, .checkbox label {
  cursor: pointer;
  margin-bottom: 0;
  padding-left: 1.2em;
}
.radio input[type=radio],
.radio--inline input[type=radio],
.checkbox input[type=checkbox],
.checkbox--inline input[type=checkbox] {
  position: absolute;
  margin-left: -20px;
  line-height: normal;
}
input[type=radio],
input[type=checkbox] {
  margin: 0.2em 0 0;
  line-height: normal;
}
input[type=radio][disabled],
input[type=checkbox][disabled],
input[type=radio].disabled,
input[type=checkbox].disabled,
fieldset[disabled] input[type=radio],
fieldset[disabled] input[type=checkbox] { cursor: not-allowed; }

.radio--inline + .radio--inline,
.checkbox--inline + .checkbox--inline {
  margin-top: 0;
  margin-left: 0.8em;
}
.radio--inline,
.checkbox--inline {
  cursor: pointer;
  padding-left: 1.3em;
  display: inline-block;
  vertical-align: middle;
}

// SELECT STYLES
// =============================================================================

.form__control {
  width: 100%;
  height: 2.5em;
  display: block;
  padding: 0.5em;
  color: $cs-font;
  font-size: em(14);
  border-radius: 0.3em;
  background-image: none;
  background-color: $white;
  border: 1px solid $lightGrey;
  transition: border-color 0.15s;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

select[multiple], select[size] { height: auto; }
