// =====================================
// LAYOUT RULES
// =====================================

// CSS, by its very nature, is used to lay elements out on the page.
// However, there is a distinction between layouts dictating the major and minor components of a page.
// The minor components such as a callout, or login form, or a navigation item sit within the scope of major components such as a header or footer.

* { box-sizing: border-box; }

.constrain {
  margin: 0 auto;
  padding: 0 1em;
  max-width: $constrain;
}
main { min-height: 25em; }
header[role="banner"] {
  padding: 1em 0;
  margin-bottom: 1em;
  background-color: $lighterGrey;
  border-bottom: 0.1em solid darken($lighterGrey, 10%);
}
footer[role="contentinfo"] {
  padding: 1em;
  margin-top: 1.5em;
  background-color: $lighterGrey;
  border-top: 0.1em solid darken($lighterGrey, 10%);
  small {
    display: block;
    margin-top: 1em;
    padding-top: 1em;
    text-align: center;
    text-transform: uppercase;
    border-top: 0.1em solid lighten($lightGrey, 15%);
  }
}

@media (min-width: $mummyBear) {

  body { font-size: 1em; }

}
