// =====================================
// MODULE RULES
// =====================================

// A Module is a more discrete component of the page.
// It is your navigation bars and your carousels and your dialogues and your widgets and so on.
// This is the meat of the page.
// Modules sit inside Layout components.
// Modules can sometimes sit within other Modules, too.
// Each Module should be designed to exist as a standalone component.

.main__heading { text-align: center; }
.logo {
  margin: 0;
  text-align: center;
}
.pagination { text-align: center; font-size: 0.875em; color: $lightGrey; }

.article { padding-top: 0.5em; padding-bottom: 0.5em; }
.article__meta {
  margin-top: 0.3em;
  color: $lightGrey;
  font-size: 0.875em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.article__summary a,
.article__summary a:visited,
.article__content a,
.article__content a:visited { color: $cs-font; border-bottom: 0.1em dotted; }
.article__summary a:hover,
.article__summary a:focus,
.article__content a:hover,
.article__content a:focus { color: $cs-font; border-bottom: 0.1em solid; }

.article__summary > p { margin-top: 0; }
.article__video,
.article__img { margin-bottom: 1em; }
.article__more { text-transform: uppercase; font-size: 0.875em; }
.article__img {
  padding: 0.5em;
  border: 0.1em solid $lighterGrey;
}
.article__heading { margin-bottom: 0; }
.article__footer {
  margin-top: 2em;
  padding-top: 1em;
  overflow: hidden;
  padding-bottom: 1em;
  border-top: 0.1em solid $lighterGrey;
  border-bottom: 0.1em solid $lighterGrey;
}
