// =============================================================================
// All variables to be used in your theme go here.
// =============================================================================

// =============================================================================
// COLOURS
// =============================================================================

// GREYSCALE ===================================================================

$black        :  rgb(0, 0, 0);
$darkGrey     :  lighten($black, 25%);
$grey         :  lighten($black, 50%);
$lightGrey    :  lighten($black, 80%);
$lighterGrey  :  lighten($black, 95%);
$white        :  rgb(255, 255, 255);

// SITE COLOURS ================================================================

$cs-a1             :  rgb(32, 32, 32); // DARK GREY
$cs-a2             :  rgb(241, 116, 48); // ORANGE

$cs-bodyBg         :  $white;
$cs-htmlBg         :  $lighterGrey;
$cs-font           :  rgb(107, 107, 107);
$cs-heading        :  $black;
$cs-border         :  rgb(124, 124, 129);

$cs-facebook          : rgb(59, 89, 152);
$cs-twitter           : rgb(0, 172, 237);
$cs-linkedIn          : rgb(0, 123, 182);
$cs-ivory             : rgb(255, 255, 250);

$cs-alert-success     : rgb(60, 118, 61);
$cs-alert-info        : rgb(49, 112, 143);
$cs-alert-warning     : rgb(138, 109, 59);
$cs-alert-danger      : rgb(169, 68, 66);

// LINKS =======================================================================

$normal       :  $cs-font;
$hover        :  $cs-heading;
$active       :  $cs-heading;
$visited      :  $cs-font;
$focus        :  $cs-heading;

// BUTTONS =====================================================================

$cs-btn-primary : rgb(66, 139, 202);
$cs-btn-success : rgb(92, 184, 92);
$cs-btn-info    : rgb(91, 192, 222);
$cs-btn-warning : rgb(240, 173, 78);
$cs-btn-danger  : rgb(217, 83, 79);

// NAVIGATION ==================================================================

$mobNavBg         : lighten($cs-htmlBg, 5%);
$navNormal        : $grey;
$navHover         : lighten($navNormal, 10%);
$navActive        : lighten($navNormal, 10%);
$navVisited       : $navNormal;
$navFocus         : $navHover;

$navSelectColor   :  darken($grey, 5%);

// TABLES ======================================================================

$tableBg          :  $white;
$tableBorderColor :  $lightGrey;
$tableFontColor   :  $cs-font;

// FORMS =======================================================================

$formBg           :  $white;
$formBorderColor  :  $lighterGrey;

// HEADER & FOOTER BACKGROUNDS =================================================

$headerBg         : $cs-htmlBg;
$footerBg         : lighten($cs-htmlBg, 5%);

// FONTS =======================================================================

// ADD @fontface

$font-serif          : serif;
$font-sans           : sans-serif;
$font-mono           : "Courier New", Courier, monospace;
$font-sans-heading   : sans-serif;
$font-serif-heading  : $font-serif;

$headingFontWeight: 700;
$mainFontWeight   : 300;
$boldFontWeight   : 700;

$mummyBear : 33em;
$daddyBear : 64em;
