---
layout: default
---
<article class="article">
  <header class="article__header">
    <h2 class="article__heading">{{ page.title }}</h2>
    <p class="article__meta">Published <time pubdate datetime="{{ page.date | date: "%Y-%m-%d %H:%M" }}">{{ page.date | date: "%d %b, %Y" }}</time> by <a href="https://github.com/{{ page.author }}" class="link-highlighted">{{ page.author }}</a></p>
  </header>

  {% if page.main_img %}
  <img src="{{ page.main_img }}" class="article__img" alt="">
  {% endif %}

  {% if page.video %}
  <div class="article__video">
    {{ page.video }}
  </div><!-- END .article__video -->
  {% endif %}

  <div class="article__summary lead">
    {{ page.summary | markdownify }}
  </div><!-- END .article__summary -->

  <div class="article__content">
    {{ content }}
  </div><!-- END .article__content -->

  <footer class="article__footer">
    <ul>
      <li><a href="/{{ page.collection }}" class="link-highlight">Back to {{ page.collection | capitalize }}</a></li>
      {% if page.preview_link %}
      <li><a href="{{ page.preview_link }}" class="link-highlight">Preview</a></li>
      {% endif %}
      {% if page.download_link %}
      <li><a href="{{ page.download_link }}" class="link-highlight">Download</a></li>
      {% endif %}
      <li><a href="{{ site.github.repository_url }}/tree/master/{{ page.relative_path }}" class="link-highlight">Edit on GitHub</a></li>
      <li><a href="{{ site.github.repository_url }}/issues" class="link-highlight">Discuss or Raise Issue</a></li>
    </ul>
  </footer>
</article>
